/* body,
html {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
} */

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    background-color: black;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: goldenrod;
}

.customLink {
    margin-top: 10px;
    color: goldenrod;
}

.linkContainer {
    display: block;
    margin-top: 10px;
    color: goldenrod;
}

.rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    color: goldenrod;
    background-color: black;
}