.pageContainer {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    background-color: black;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: goldenrod;
}

.customLink {
    margin-top: 20px;
    color: goldenrod;
}

.linkContainer {
    display: block;
    margin-top: 10px;
    color: goldenrod;
}

.rightSide {
    justify-content: center;
    align-items: center;
    color: goldenrod;
    background-color: black;
}