.about-content {
    display: flex;
    font-size: x-large;
    text-align: center;
    color: whitesmoke;
    background-color: black;
    max-width: 90%;
    justify-content: center;
    align-items: center;
    display: flexbox;
    width: 1000px;
    /* 1000px */
    height: 320px;
}

.pageContainer {
    display: flex;
    background-color: black;
    color: #FF69B4;
    flex-direction: column;
    /* Stack items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ensures the container takes up the full viewport height */
    margin-bottom: 20px;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}